<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--1、namespace=绑定一个对应的Mapper接口！！！-->
<mapper namespace="com.dgut.mapper.LogisticsMapper">


    <!--查询所有物流信息-->
    <select id="getLogisticsList" resultType="com.dgut.entity.Logistics">
        select * from sale_system_dj.logistics
    </select>

    <!--根据LogisticsId查询物流信息-->
    <select id="getLogisticsByLogisticsId" parameterType="int" resultType="com.dgut.entity.Logistics">
        select * from sale_system_dj.logistics where logistics_id = #{logisticsId}
    </select>

    <!--增加一个物流信息-->
    <insert id="addLogistics" parameterType="com.dgut.entity.Logistics">
        insert into sale_system_dj.logistics(create_time, update_time, addressee_address, addressee_name, addressee_phone, company_name, logistics_no, sender_address, sender_name, sender_phone)
            value (#{createTime},#{updateTime},#{addresseeAddress},#{addresseeName},#{addresseePhone},#{companyName},#{logisticsNo},#{senderAddress},#{senderName},#{senderPhone});
    </insert>

    <!--根据LogisticsId修改物流信息-->
    <update id="updateLogisticsByLogisticsId" parameterType="com.dgut.entity.Logistics">
        update sale_system_dj.logistics set addressee_address=#{addresseeAddress},addressee_name=#{addresseeName},addressee_phone=#{addresseePhone},company_name=#{companyName},logistics_no=#{logisticsNo},sender_address=#{senderAddress},sender_name=#{senderName},sender_phone=#{senderPhone},create_time=#{createTime},update_time=#{updateTime} where logistics_id =#{logisticsId}
    </update>

    <!--根据logisticsId删除一个物流信息-->
    <delete id="deleteLogisticsByLogisticsId" parameterType="int">
        delete from sale_system_dj.logistics where logistics_id = #{logisticsId}
    </delete>

</mapper>